################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part 
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
[part]
recipe = minitage.recipe.cmmi
url = http://${mirrors:gentoo}/gentoo/distfiles/libxml2-2.7.7.tar.gz
md5sum = 9abc9959823ca9ff904f1fbcf21df066
configure-options=--without-python

[mirrors]
gentoo = mirror.muntinternet.net/pub

