################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part 
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
[part]
recipe = minitage.recipe.cmmi
url = http://${mirrors:gentoo}/gentoo/distfiles/libxml2-2.7.8.tar.gz
md5sum = 8127a65e8c3b08856093099b52599c86
cflags= -D_LARGEFILE64_SOURCE

configure-options=--without-python

[mirrors]
gentoo = mirror.muntinternet.net/pub

