################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part 
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
[part]
recipe = minitage.recipe.cmmi
#tempfix before a real migration to a libxml-2 package
url = http://${mirrors:gentoo}/distfiles/libxml2-2.8.0.tar.gz
md5sum = c62106f02ee00b6437f0fb9d370c1093 
cflags= -D_LARGEFILE64_SOURCE

configure-options=--without-python

[mirrors]
gentoo = gentoo.tiscali.nl

